/* 
  # Genki II Color Scheme
  1. COLOR 1
  2. COLOR 2 
  3. COLOR 3 
  4. COLOR 4 
  5. COLOR 5 
*/


/* 1. COLOR 1 */
.t-orange, .main-color, a.jump-arrow, #exercise:before, #exercise:after, .loading:before, .loading:after, .lesson-title, .title, .section-title, #exercise-title, .lesson-summary:before, .lesson-point:before, .drag-quiz .quiz-answer-zone:focus, .drag-quiz .quiz-item:focus, .kana-quiz .quiz-answer-zone:focus, .kana-quiz .quiz-item:focus, #exercise-list .lesson-title:hover, #exercise-list .lesson-title:focus, #exercise-list li a.active-lesson, #exercise-list li a:hover, #exercise-list li a:focus, #exercise-list li a:hover:before, #exercise-list li a:focus:before, .answer-correct .quiz-item:before, .drag-quiz .answer-correct .quiz-item-text:before, .writing-zone.answer-correct:after, .quiz-multi-answer:hover:before, .quiz-multi-answer:focus:before, .kanji-stroke-order .button:hover, .kanji-stroke-order .button:focus, .example-problem:before, #genki-site-settings:focus, .genki_pseudo_checkbox:after, #dictionary-modes .button.active-mode, .dictionary-index li a, #quick-jisho-results .definition:focus, #genki-modal #appendix-tool .workbook-title, #appendix-tool .workbook-title, .sub-title-color, .sectionNumber, .underline-field > span:hover, .underline-field > span:hover ~ span, .section-highlight:before {
  color:#E6237B;
}

#quick-search-hits a {
  color:#E6237B !important;
}

.button, a.button, header, #announcement, #quick-nav-list li:before, #quick-nav-list a.sub-section-button, #quick-search-results li[data-lesson]:before, #quiz-info, #exercise-list .main-title, #exercise-list li a[data-page]:hover:after, #exercise-list li a[data-page]:focus:after, #quiz-progress-bar, #complete-banner, #genki-modal-header, .genki_pseudo_radio:after, #quick-jisho-toggle, .quick-jisho-header, #appendix-tool .page-data, .grammar-index .num, .star, .tango:before, .label-color {
  background-color:#E6237B;
}

.taking-a-break #genki-modal-header {
  background-color:rgba(230, 35, 123, 0.50);
}

.chokai-script .line.highlighted {
  background:rgba(230, 35, 123, 0.3);
}

hr.main-color, input[type="text"]:focus, input[type="number"]:focus, textarea:focus, select:focus, .box-color, #quick-nav-list li ul li:before, .drag-quiz .quiz-answer-zone:focus, .drag-quiz .quiz-item:focus, .kana-quiz .quiz-answer-zone:focus, .kana-quiz .quiz-item:focus, .quiz-item.markedItem, input.writing-zone-input:focus, .kanji-canvas:focus, .quiz-multi-answer:hover, .quiz-multi-answer:focus, #quiz-progress, .example-problem:before, .fill-quiz .writing-zone-input:focus, #genki-modal-body, #light-switch:focus, .genki_pseudo_checkbox:hover, .genki_pseudo_radio:hover, .genki_pseudo_checkbox:focus, .genki_pseudo_radio:focus, #dictionary-modes .button.active-mode, .section-highlight {
  border-color:#E6237B;
}

.kanji-canvas:focus, .taking-a-break #genki-modal-body {
  border-color:rgba(102, 187, 85, 0.50);
}

.ul-color, .lesson-title, .section-title, .drawing-quiz .quiz-answer-row, .underline-field > span:hover, .underline-field > span:hover ~ span {
  border-bottom-color:#E6237B;
}

#appendix-tool .example, .grammar-index .example, .vertical-text .ul-color {
  border-left-color:#E6237B !important;
}

a:focus img, .quiz-item.markedItem, .text-selection-mode .quiz-multi-answer {
  outline-color:#E6237B !important;
}

/* text selection color */
::selection { color:#FFF; background-color:#E6237B; }
::-moz-selection { color:#FFF; background-color:#E6237B; }

/* scroll bar */
.writing-quiz .quiz-item-text::-webkit-scrollbar-thumb, .vocab-horizontal .quiz-item-text::-webkit-scrollbar-thumb {
  background-color:#E6237B;
}


/* 2. COLOR 2 */
.button:hover, a.button:hover, #announcement .announcement .date, #quiz-info table, #toggle-exercises:focus, .writing-quiz .quiz-item-text::-webkit-scrollbar-thumb:hover, .vocab-horizontal .quiz-item-text::-webkit-scrollbar-thumb:hover {
  background-color:#D6136B;
}

#quick-search-results li[data-lesson]:before, #exercise-list li a[data-page]:hover:after, #exercise-list li a[data-page]:focus:after, #appendix-tool .page-data {
  border-color:#D6136B;
}


/* 3. COLOR 3 */
.button:focus, a.button:focus, #quick-nav-list a.sub-section-button:hover, #quick-nav-list a.sub-section-button:focus, #toggle-exercises:hover, .writing-quiz .quiz-item-text::-webkit-scrollbar-thumb:active, .vocab-horizontal .quiz-item-text::-webkit-scrollbar-thumb:active {
  background-color:#C6035B;
}

#announcement .announcement .date, #quiz-info table td, #link-home.button {
  border-color:#C6035B;
}


/* 4. COLOR 4 */
a.jump-arrow:hover, a.jump-arrow:focus, .dictionary-index li a:hover {
  color:#B6004B;
}

#toggle-exercises {
  background-color:#B6004B;
}

#announcement, .underline-field > span.ul-color:hover {
  border-color:#B6004B;
}


/* 5. COLOR 5 */
#announcement ruby rt, .workbook-title ruby rt, .main-color ruby rt, .section-title ruby rt, .lesson-title ruby rt, a ruby rt, #index-list li a ruby rt, #quick-search-results ruby rt, .sub-title-color ruby rt, .title rt {
  color:#A6003B;
}